:root {
    --bg-color-light-theme: rgb(177, 38, 37);
    --bg-color-dark-theme: rgb(15, 3, 3);
    --accent-color: rgb(251, 219, 104);
    --text-color-white: rgb(255, 255, 255);
    --text-color-black: rgb(20, 20, 20);
    --lapBtn-disabled-state: rgba(251, 237, 237, 0.6);
    --lapBtn-textColor-disabled-state: rgba(20, 20, 20, 0.6);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-light-theme);
    color: var(--text-color-white);
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body.active {
    background-color: var(--bg-color-dark-theme);
}

.container {
    max-width: 900px;
    padding: 1rem;
    width: 90%;
}

.container.active {
    color: var(--text-color-white);
}

.theme {
    position: relative;
    background: var(--text-color-white);
    color: var(--text-color-black);
    width: 120px;
    border-radius: 50px;
    padding: 0.5rem;
    margin-left: auto;
    margin-bottom: 2rem;
    transition: 0.3s;
    text-align: right;
}

.toggle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--text-color-black);
    transition: 0.3s;
    left: 2px;
    top: 2px;
}

.theme-text {
    font-weight: 600;
    font-size: 0.875rem;
    padding-right: 0.5rem;
}

.theme.active .toggle {
    left: 105px;
}

#display {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}


.stopwatch-container {
	display: flex;
    flex-direction: column;
	margin: 0 auto;
	text-align: center;
    width: 70%;
    padding: 1rem;
}

.table-area {
    height: 30vh;
}

.table-container {
	flex: 1; /* takes up all remaining space between timer and buttons */
    overflow-y: auto; /* scroll only this area */
    max-height: 25vh; /* optional: limit lap section height */
    padding: 0 0.5rem;
}


.table {
    width: 100%;
	margin-bottom: 1.5rem;
    border-collapse: collapse;
}

.table-header {
    background: var(--text-color-white);
    color: var(--text-color-black);
    font-size: 1.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

tbody {
    font-size: 1.125rem;
}

.table th, .table td {
    padding: 0.5rem;
}

.table tr {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.table tr:nth-child(even) {
    background-color: var(--text-color-white);
    color: var(--text-color-black);
}

.buttons {
	display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    position: sticky;
    bottom: 0;
    margin-top: 0.5rem;
}

button {
    flex-grow: 1;
	width: 100px;
	display: inline-block;
    font-size: 1rem;
    font-weight: 600;
	padding: 0.7rem 0.5rem;
	margin: 0.2rem;
    border-radius: 5px;
    border: none;
}

#startBtn {
    background-color: var(--accent-color);
    color: var(--text-color-black);
}

#lapBtn:disabled {
    background-color: var(--lapBtn-disabled-state);
    color: var(--lapBtn-textColor-disabled-state);
    cursor: not-allowed;
}

@media screen and (max-width: 800px) {
    .stopwatch-container {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    body {
        padding: 1.5rem 0.5rem;
    }

    .container {
        padding: 0.5rem;
        width: 100%;
    }

    .theme {
        width: 100px;
        padding: 0.2rem;
    }

    .toggle {
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        transform: scale(0.9);
    }

    .theme-text {
        font-size: 0.875rem;
        padding-right: 0;
    }

    .theme.active .toggle {
    left: 90px;
    }

    .stopwatch-container {
        width: unset;
    }

    .stopwatch-container h1 {
        font-size: 1.5rem;
    }

    .table-container {
        padding: 0;
        max-height: 40vh;
    }

    #display {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .table-area {
        height: 45vh;
    }

    .table-header {
        font-size: 1.125rem;
    }

    .table th, .table td {
        font-size: 0.875rem;
        padding: 0.7rem;
    }

    .buttons {
        margin-top: 1.5rem;
    }

    button {
        width: 80px;
        padding: 0.5rem;
        margin: 0;
    }
}